body {
    background: url("/resources/images/background.jpeg");
}

h1 {
    color: #ff33ff; 
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

p {
    color: #33ff33; 
    text-align:center;
}

header {
    width: 150px;
    height: 100%;
    background-color: #878787;
}